@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); 

#principal {
    /* overflow-x: hidden; */
    background: linear-gradient(rgba(95, 114, 189,0.8), rgba(155,35,234,0.7)),url("img/bg.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    min-height: 65%;
}

#cabeza {
    height: 10%;
    background-image: url('../images/tribuna.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}
    /* background-position: center;
} */



/* #botones{
justify: end;
} */




/* header ul li {
     display: inline-block;
} 

header ul li a{
    text-decoration: none;
    background: #039be5;
    font-style: 1.5rem;
    border-radius: 50px;
    transition: transform 0.3s ease;
    padding: 10px 40px;
    color: white;
} */

/* header ul li a:hover{
    color: red;
} */

#titulo{
    font-family: 'Press Start 2P', cursive;
    color: white;
} 

/* #menu{
    width: 49.5vw;
    float: right;
    padding-top: 65px;
    
   
}

main{
    width: 100vw;
    height: 80vh;
    background: linear-gradient(to top, black, gray);
} */


footer{
    height : 25%;
    background-image: radial-gradient( circle 767px at 10.2% 22.1%,  rgb(218, 11, 190) 0%, rgba(0,191,255,1) 90% );
    display: flex;
    justify-content: center;
    align-items: center;  
}

/* #parteUno{
    width: 100vw;
    height: 20vh;
   
    display: flex;
    justify-content: center;
    align-items: center; 
} */

/* #imagen{
    border: 20px;
    padding: 25px;
    width: 45vw;
    height: 60vh;
    float:left; 
} */

#texto{
    border: 20px;
    padding: 25px;
    width: 45vw;
    height: 60vh;
    float: right;
    font-size: 34px;
    font-style: oblique;
    color: white
}   
 
.buttons {
    width: 700px;
    display: flex;
    justify-content: space-around;
}
  
.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}
  
.buttons a:hover {
    transform: scale(1.2);
 }

 #copyright{
    width:100vw;
    height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }